.CourseRating {
    font-weight: bold;
    color: #71c9f8;
  }
  .RatingWrapper{
    display: flex;
  }
  .RatingCircles {
    font-size: 14px; /* Make circles smaller */
  }
  
  .RatingNumber {
    font-weight: bold;
    font-size: 14px;
    color: #a8b2d1; /* Softer muted blue */
  }