/* Comments Container */
.commentsContainer {
    max-width: 1200px;
    width: 80%;
    margin: 20px auto;
    background: var(--bg-secondary);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
}

.repliesContainer {
    width: 100%;
    margin: 0;
    background: var(--bg-primary);
    box-shadow: none;
    border-radius: 0;
    /* margin-top: 0.5rem; */
    padding-left: 2rem;
}

.replyHeader {
    display: flex;
    gap: 4rem;
    align-items: center;
    margin-bottom: 0.5rem;
    padding-left: 1rem;
}

.viewReplies {
    color: #007bff;
    cursor: pointer;
    font-size: 0.9rem;
    font-weight: 500;
}

.replyButton {
    background-color: transparent;
    border: none;
    color: #28a745;
    cursor: pointer;
    font-size: 0.9rem;
    font-weight: 500;
}

/* Title */
.commentsTitle {
    color: var(--text-heading);
    text-align: center;
    margin-bottom: 15px;
}

/* Comment Actions */
.commentActionsWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    gap: 10px;
}

/* Loading and No Data */
.loading {
    color: var(--text-muted);
    text-align: center;
    margin: 20px 0;
}

/* Pagination */
.pagination {
    display: flex;
    justify-content: end;
    padding-right: 20px;
    margin-top: 20px;
}

.actionButton {
    padding: 10px 14px;
    border: none;
    background: var(--btn-primary-bg);
    color: var(--btn-primary-text);
    cursor: pointer;
    margin: 0 6px;
    border-radius: 6px;
    transition: background 0.3s ease-in-out;
}

.actionButton:hover {
    background: var(--btn-primary-hover);
}

.actionButton:disabled {
    background: var(--text-muted);
    cursor: not-allowed;
}
