
/* Course Card */
.ccContainer {
  display:inline-block;
  width: 344px;
  vertical-align: top;
  background: var(--bg-secondary);
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  padding: 12px;
  margin:10px;
  cursor:pointer;
  border: 1px solid var(--border-primary);
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.ccContainer:hover {
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.6);
}

/* Thumbnail */
.ccThumbnailWrapper {
  width: 100%;
  height: 200px;
  overflow: hidden;
  margin-bottom:0.5rem;
  border-radius: 8px;
}

.ccThumbnailImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Profile & Title */
.ccProfileWrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

.ccProfileImage {
  width: 32px;
  height: 32px;
  border-style: solid;
  border-color:var(--border-primary);
  border-radius: 50%;
  object-fit: cover;
}
/* Remove underline from the username link */
.ccUsername {
  text-decoration: none;
  color: var(--text-muted); /* Brighter version */
  font-size: 0.875rem;
  margin-top: 3px;
}

/* Add hover effect if needed */
.ccUsername:hover {
  text-decoration: underline;
}

.ccCourseTitle {
  font-size: 1rem;
  font-weight: 600;
  color: var(--text-primary);
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* Course Info */
.ccInfo {
  padding: 6px;
  /* border:1px solid black; */
}

/* Metadata */
.ccCourseMeta {
  font-size: 0.8rem;
  opacity: 0.85;
  color: var(--text-secondary);
  margin: 4px 0;
}

/* Level & Status */
.ccLevelStatus {
  margin:10px 0px 10px 0px;
  display: flex;
  gap: 6px;
  font-size: 0.8rem;
}

.ccLevel, .ccStatus {
  padding: 4px 8px;
  border-radius: 5px;
  font-weight: 600;
  text-transform: capitalize;

}

.ccLevel {
  background: var(--bg-highlight);
  color: var(--btn-primary-text);
}

.ccStatus {
  background: #145a32; /* Slightly darker green */
  color: white;
}

/* Price & Rating */
.ccCardFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 6px;
}

.ccPriceOrProgress {
  font-weight: bold;
  color: var(--text-success);
}
.ccDaysLeft{
  font-weight: bold;
  color: var(--text-warning);
  /* font-size: small; */
  font-size: 0.9rem;
}

.ccRating {
  margin-right:10px;
  display: flex;
  align-items: center;
  gap: 6px; /* Adjust spacing */
}

