.courseContainer {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px; /* Added padding to prevent elements from touching edges */
  margin-top: 20px; /* Ensures content starts below fixed navbar */
}

.courseHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
}
.courseHeader h2{
  color: var(--text-heading);
}

.filters {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
  justify-content: start;
}

.filters select {
  padding: 8px 12px;
  border: 1px solid var(--border-primary);
  border-radius: 6px;
  background: var(--bg-secondary);
  color: var(--text-secondary);
  cursor: pointer;
  outline: none; /* Prevents default focus border */

}

.filters input {
  padding: 8px 12px;
  border: 1px solid var(--border-primary);
  border-radius: 6px;
  background: var(--bg-secondary);
  color: var(--text-secondary);
  outline: none;
  min-width: 50px; /* helps maintain decent size in wrap */
}
.filters input[type=number]{
  width: 10px;
}
.filters button {
  padding: 8px 14px;
  background: var(--btn-primary-bg);
  color: var(--text-primary);
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

.filters button:hover {
  background: var(--btn-primary-hover);
}
.filters button:active{
  transform:scale(0.95);
}


.sortOptions {
  display: flex;
  align-items: center;
  gap: 12px;
}

.sortOptions select,
.sortOptions button {
  padding: 8px 12px;
  border: 1px solid var(--border-primary);
  border-radius: 6px;
  background: var(--bg-secondary);
  color: var(--text-primary);
  cursor: pointer;
  outline: none; /* Prevents default focus border */

}

.courseList {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  padding: 15px;
  border-radius: 8px;
  justify-content: center;

  margin: 0 auto;
  transition: all 0.3s ease-in-out;
}




.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  padding: 10px 14px;
  border: none;
  background: var(--btn-primary-bg);
  color: var(--btn-primary-text);
  cursor: pointer;
  margin: 0 6px;
  border-radius: 6px;
  transition: background 0.3s ease-in-out;
}

.pagination button:hover {
  background: var(--btn-primary-hover);
}

.pagination button:disabled {
  background: var(--text-muted);
  cursor: not-allowed;
}
