.courseDetailContainer {
  display: flex;
  flex-direction: column;
  max-width:650px;
  width:80%;
  gap: 20px;
  padding: 25px;
  margin: 20px auto;
  border-radius: 8px;
  border: 1px solid var(--border-primary);  

  background: var(--bg-secondary);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.formHeading {
  color: var(--text-heading);
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.courseForm {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.formGroup {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.metaInfoWrapper{
  display:flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.formGroup label {
  font-weight: 600;
  font-size: 0.9rem;
  color: var(--text-primary);
}

.formGroup input,
.formGroup textarea,
.formGroup select {
  padding: 10px;
  border: 1px solid var(--border-primary);
  border-radius: 6px;
  background: var(--bg-primary);
  color: var(--text-primary);
  outline: none;
  transition: border 0.3s ease-in-out;
}

.formGroup input:focus,
.formGroup textarea:focus,
.formGroup select:focus {
  border-color: var(--btn-primary-bg);
}
#description {
    height:250px;
}
.formGroup textarea{
  resize:none;
  height:100px;
}
.thumbnailPreview {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.thumbnailPreview img {
  max-width: 100%;
  height: auto;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.thumbnailWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px; /* Adds space between preview and buttons */
}

.thumbnailGroup {
  padding:10px;
  display: flex;
  justify-content: flex-end;
  gap: 10px; /* Adds space between buttons */
}

.buttonGroup {
  display: flex;
  justify-content: space-between; /* Align delete left, actions right */
  /* margin-top: 10px; */
  align-items: center;
  flex-wrap:wrap;
}

.actionGroup {
  display: flex;
  /* gap:10px;/ */
}




/* COMMON BUTTON STYLES WITHIN .buttonGroup */
.actionButton ,
.deleteBtn ,
.publishBtn {
  margin:10px;
  padding: 10px 14px;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease-in-out, transform 0.2s;
}

.deleteBtn {
  background: var(--btn-danger-bg);
  color: var(--btn-danger-text);
}

.deleteBtn:hover {
  background: var(--btn-danger-hover);
}

.actionButton {
  background: var(--btn-primary-bg);
  color: var(--btn-primary-text);
}

.actionButton ,
.publishBtn:not(:disabled):hover {
  background: var(--btn-primary-hover);
}

.publishBtn {
  background: var(--btn-secondary-bg);
  color: var(--btn-secondary-text);
}

.publishBtn:not(:disabled):hover {
  background: var(--btn-secondary-hover);
}

.actionButton:active, 
.publishBtn:not(:disabled):active,
.deleteBtn:active{
  transform: scale(0.95);
}


@media (max-width: 768px) {
  .metaInfoWrapper{
    flex-direction: column;
    gap:5px;
  }
}