.createCourseContainer {
    display: flex;
    max-width:1200px;
    width:80%;
    margin: 30px auto;
    border-radius: 8px;
    background: var(--bg-secondary);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .leftPane {
    border-radius: 8px 0px 0px 8px;
    width: 60%;
    padding: 25px;
  }
  .formHeading {
    text-align: center;
    margin-bottom: 20px;
    color: var(--text-heading);
    font-size: 24px;
    
  }
  .createCourseForm {
    display: flex;
    flex-direction: column;
    gap:20px;
  }
  
  .formGroup {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
  
  .formGroup label {
    font-weight: 600;
    font-size: 0.9rem;
    color: var(--text-primary);
  }
  
  .formGroup input,
  .formGroup textarea {
    padding: 10px;
    border: 1px solid var(--border-primary);
    border-radius: 6px;
    background: var(--bg-primary);
    color: var(--text-primary);
    outline: none;
    transition: border 0.3s ease-in-out;
  }
  
  .formGroup input:focus,
  .formGroup textarea:focus {
    border-color: var(--btn-primary-bg);
  }
  
  .formGroup textarea {
    resize: none;
    height: 250px;
  }
  
  .buttonGroup {
    display: flex;
    justify-content: end;
    margin-top: 10px;
  }
  
  .actionButton {
    padding: 10px 14px;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    background: var(--btn-primary-bg);
    color: var(--btn-primary-text);
    transition: background 0.3s ease-in-out, transform 0.2s;
  }
  
  .actionButton:hover {
    background: var(--btn-primary-hover);
  }
  
  .actionButton:active {
    transform: scale(0.95);
  }
  .rightPane {
    width: 40%;
    background: linear-gradient(to right, var(--bg-primary), var(--bg-secondary));
    display: flex; /* Allows for flexible content placement */
    flex-direction: column; /* Ensures content stacks vertically */
    justify-content: center;/* Centers content vertically
    color: var(--text-primary); /* Ensures text is readable */
    text-align: center;
    padding:30px;
    border-radius: 0px 8px 8px 0px;
    box-shadow: -3px 0px 5px rgba(0, 0, 0, 0.2); 
}
.rightPane h3 {
  color: var(--text-highlight); /* Ensures heading color matches the theme */
  font-size: 1.8rem; /* Adjusts size for readability */
  font-weight: bold; /* Makes the heading stand out */
  margin-bottom: 15px; /* Adds spacing below */
}

  @media (max-width: 768px) {
    .leftPane {
      width: 100%;
    }
    .rightPane{
      display:none;
    }
  }
  