.heading {
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: bold;
  color: var(--text-heading);
  word-wrap: break-word; /* Ensures words wrap properly */
  margin-bottom:1rem;
}

.textarea {
  width: 100%;
  resize: none; /* Disable manual resizing, handled automatically */
  overflow: hidden;
  font-size: 1.5rem;
  font-weight: bold;
  border: 1px solid var(--bg-selected);
  outline: none;
  background: transparent;
  color: var(--text-heading);
  box-shadow: 0 0 6px rgba(30, 90, 85, 0.6); /* subtle shadow using bg-selected tone */
  border-radius: 6px; /* optional: for smoother corners */
}


.highlighted {
  background-color: var(--bg-highlight);
  color: var(--text-selected);
  border-radius: 3px;
  cursor: pointer;
}

.unhighlighted {
  color: inherit;
}

.deleteMenu {
  position: fixed;
  background: var(--bg-tertiary);
  border: 1px solid gray;
  font-size: 0.8rem;
  padding: 5px;
  cursor: pointer;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 9999;
}