.profileContainer {
  display: flex;
  position: relative;
  gap: 2rem;
  padding: 2rem;
  width: 100%;
  box-sizing: border-box;
}

/* LEFT PANE - Sidebar */
.leftPane {
  width: 300px;
  flex-shrink: 0;
  transition: all 0.3s ease;

}
/* Toggle Button */
.toggleButton {
  cursor: pointer;
  position: fixed;
  z-index: 10;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 40px;
  height: 80px;
  background-color: var(--bg-secondary);
  color: var(--text-primary);
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 10px 10px 0;
  border: 1px solid var(--border-primary);
  transition: left 0.3s ease;

}

.toggleShifted {
  left: 300px;
}

.rightPane {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

/* Cards wrapper */
.platformCardsWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
}

/* Individual platform cards */
.platformCard {
  flex: 1 1 45%;
  min-width: 250px;
}

/* Mobile Responsiveness */
@media (max-width: 768px) {
  .profileContainer {
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
  }

  .leftPane {
    height:100%;
    min-height:100vh;
    position:absolute;
    top:0;
    left:0;
    z-index: 5;
  }

  .rightPane {
    width: 100%;
  }
}

/* Hidden left pane for mobile toggle */
.leftPaneHidden {
  /* display: none; */
  left:-300px;
}
